@import './models/cartes'

@import '../../Variables'
    
#concerts
    display: flex
    justify-content: center
    align-items: center
    height: auto
    margin: 30vh 0
    width: 100%
    position: relative

    #decoration
        color: #ffffff
        width: 100%
        font-size: 150px
        margin-top: 60px
        overflow: hidden
        padding-bottom: 20px
        white-space: nowrap
        display: flex
        align-items: center
        justify-content: center

        #oval_decoration
            background-color: $yellow_green
            width: 65vw
            height: 15vw
            position: absolute
            border-radius: 50%
            z-index: -1

        #slider
            width: 100%
            animation: slide 8s linear infinite
            white-space: nowrap
            font-family: $massive_font
            font-size: 5vw


@keyframes slide
    0%
        transform: translateX(0%)
    
    100%
        transform: translateX(-100vw)



@media (max-width: 600px)
    #vitrine
        margin: 0px 0
