@import '../../Variables'
    
#artists
    height: 50vw
    width: 95vw
    display: flex
    justify-content: space-between
    position: relative
    margin: 2vh 0

    h4
        span
            font-style: italic
            opacity: 0.4
            font-weight: 200

        div
            font-size: 35px
            color: $middle_grey
            font-style: italic


    &>div
        display: flex
        justify-content: space-between
        width: 100%
        
        #introduction
            font-size: 12px
            color: $light_grey
            margin: 0 40px
            text-align: justify
            text-align: right
            transition: 2s
            width: 15%

        .introduction_opacity
            opacity: 0


        #vignette_image
            width: 85%
            position: relative

            .vignette
                position: absolute
                background-color: #ffffff
                width: 95%
                height: 35vw
                border-radius: 3px
                color: $light_grey
                right: 0
                background-image: url('../../../images/canva_image_black.png')
                background-repeat: no-repeat
                background-size: contain
                background-position: center
                padding: 0 2.5%
                transition: ease-in-out 2s

                div
                    display: flex
                    flex-direction: column
                    justify-content: space-between
                    width: 100%
                    height: 100%
                    opacity: 0
                    transition: eas-in-out 2s

                    button
                        border: none
                        background: none
                        font-size: 8px
                        font-weight: 300
                        color: $middle_grey
                        letter-spacing: 3px
                        display: flex
                        justify-content: space-between
                        align-items: center
                        padding: 10px 0
                        transition: ease-in-out 0.5s
                        font-family: furoreregular, sans-serif

                        i
                            font-size: 15px
                            transition: 1s

                    button:hover
                        
                        color: $dark_grey
                    
                    p
                        font-family: bluu_nexttitling
                        color: $light_grey
                        font-size: 12px
                        width: 30%
                        overflow: hidden
                        display: flex
                        flex-direction: column
                        align-items: flex-start
                        padding: 3% 0
                        transition: ease-in-out 2s

                        a
                            margin: 39px 5px
                            font-style: italic
                            width: auto
                            padding: 5px 10px
                            text-align: center
                            border-radius: 5px
                            border: solid 0.5px #b3b3b4
                            color: $dark_grey
                            transition: 0.5s
                            letter-spacing: 1px
                            font-size: 9px


            .biggerImage
                width: 115%
                height: 35vw

            @for $i from 0 through 5
                #vignette_#{5 - $i}.biggerImage
                    margin-top: calc(#{$i * 40}px)

                    div
                        opacity: 1


            .closed_vignette.biggerImage 
                height: 5vh  

                p
                    height: 0vh
                    padding: 0

                    a
                        display: none


                i
                    transform: rotate(180deg)


@media (max-width: 1200px)
    @for $i from 0 through 5
        #vignette_#{5 - $i}
            margin-top: calc(#{$i * 40}px)

            div
                opacity: 1 !important


    .closed_vignette 
        height: 5vh  

        p
            height: 0vh
            padding: 0

            a
                display: none


        i
            transform: rotate(180deg)



@media (max-width: 900px)
    #artists
        flex-direction: column
        justify-content: start
        width: 80vw
        height: auto
        
        h4
            display: none
        
        &>div
            flex-direction: column
            align-items: center

            &>p
                width: 100% !important
                margin: 0

            .introduction_opacity
                opacity: 1

        #vignette_image
            display: none


